
<ion-content>

  <div class="background_ "></div>
  <div class="row h-100">

    <div class="login text-center col-12 recover">


      <form class="custom-form"  #fRecover="ngForm">

          <h5>Recuperación de Contraseña</h5>

          <div id="send_" class="mt-3 d-flex">
            <p>Correo enviado satisfactoriamente.</p>
          </div>

          <div id="send_" class="mt-3 d-flex ">
            <p><i class="fas fa-check-circle"></i></p>
          </div>
      </form>

    </div>

  </div>

</ion-content>
