<div class="row">
  <ion-modal trigger="open-modal-add-event-client" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>
      <form class="custom-form h-100" (ngSubmit)="addClients(fAddClient)" #fAddClient="ngForm">
      <ion-content class="ion-padding">

        <ion-list>

          <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">
            <p class="m-0 font-weight-bold w-100 text-center" style="color: #1e5b5a; margin-bottom: 15px !important; font-size: 18px; font-weight: 700;">Añadir evento</p>
            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Cliente</ion-label>
                <p>{{cliente_name}}</p>
                <!-- <ion-input [(ngModel)]="clientAdd.clienteid" name="clienteid" disabled class="search_" value="{{cliente_id}}" type="text" style="display: hidden;"></ion-input> -->
              </div>
            </div>
            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                  <ion-label class="label_">Tipo de evento</ion-label>
                  <ion-select [(ngModel)]="clientAdd.tipoevento" name="tipoevento" required placeholder="Seleccionar evento"  >
                      <ion-select-option value="0">Cita</ion-select-option>
                      <ion-select-option value="1">Visita</ion-select-option>
                      <ion-select-option value="2">Llamada</ion-select-option>
                      <ion-select-option value="3">Correo</ion-select-option>
                  </ion-select>
              </div>
            </div>
            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                <ion-accordion-group>
                  <ion-accordion value="start">
                    <ion-item slot="header">
                      <ion-label class="color">Fecha</ion-label>
                      <p style="color: #000; margin: 0; max-width: 80%;" id="datetimeValue"></p>
                    </ion-item>
                    <ion-datetime
                      (ionChange)="validateButton()"
                      [(ngModel)]="clientAdd.user"
                      cancelText="cancel"
                      doneText="done"
                      name="user"
                      id="datetime_j"
                      slot="content"
                      value="d:m:Y"
                      displayFormat="HH:mm"
                    ></ion-datetime>
                  </ion-accordion>
                </ion-accordion-group>
              </div>
            </div>

            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                  <ion-label class="label_">Ubicación</ion-label>
                  <ion-select [(ngModel)]="clientAdd.ubicacion" name="ubicacion" class="search_"  placeholder="Seleccionar ubicación" >
                      <ion-select-option value="0">desarrollo 1</ion-select-option>
                      <ion-select-option value="1">desarrollo 2</ion-select-option>
                      <ion-select-option value="2">desarrollo 3</ion-select-option>
                      <ion-select-option value="3">desarrollo 4</ion-select-option>
                  </ion-select>
              </div>
            </div>
            <div class="col-12 btn-add">
              <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                <ion-button type="submit" [strong]="true" class="color-back w-100" style=" font-size: 15px;">Crear evento</ion-button>
                <!-- <button type="submit" class="btn btn-entrar mt-3" >Entrar</button> -->
              </ion-buttons>
            </div>

            <div class="col-12 btn-add" style="margin-top: 20px; background: #fff !important;">
              <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                <ion-button  (click)="cancel()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
              </ion-buttons>
            </div>
          </div>

        </ion-list>

      </ion-content>
      </form>
    </ng-template>
  </ion-modal>
</div>
