.btn-entrar {
  height: 40px;
  width: 100%;
  color: #fff;
  padding: 0;
  margin: 0 !important;
  font-size: 20px;
  background-color: #0e383b;
  color: #fff;
}

ion-input.ng-invalid {
  border-color: red;
}
ion-select.ng-invalid {
  border-color: red;
}.color{

  color: #000;
}

.color ion-modal {
  --width: 290px;
  --height: 382px;
  --border-radius: 8px;
}

.color ion-modal ion-datetime {
  height: 382px;
}
ion-modal ion-datetime {
  height: 382px;
}
ion-accordion-group {
  width: 100%;
}
ion-datetime {
  background-color: #fff;
}
