<ion-tabs class="navigationBar">

  <ion-tab-bar slot="bottom" class="cont-navigation">
    <ion-tab-button routerLink="/properties" >
      <i class="fas fa-home-lg"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/client-list">
      <i class="fas fa-user-friends"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/sales-funnel">
      <i class="fas fa-filter"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/calendar">
      <i class="fas fa-calendar-alt"></i>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
