<app-header titulo="Calendario"></app-header>


<!-- -------------------------- Busqueda avanzada -------------------------- -->
  <!-- <div class="col-12 text-center" style="background-color: #fff; color: black; padding: 0 40px; max-height: 60px;">
    <h5 class="find_advance"  routerLink="/search-event"><i class="far fa-search" style="margin-right: 10px;"></i> Búsqueda avanzada</h5>
    <p class="m-0 info-find"></p>
  </div> -->
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- filter estatus ---------------------------- -->
  <div id="" class="row  p-0 background_">

    <div class="col-12" style="padding: 0 50px !important;">

      <div class="row cont-filtro-status">

        <div class="col-3 d-flex justify-content-center text-center">
          <label for="">
            <input type="checkbox" name="cita" id="Cita" value="0" (click)="onOffEvents('Cita')" class="inputEvent cita" checked>
            <p class="filter-event"> <i class="fas fa-plus-circle"></i></p>
          </label>
        </div>

        <div class="col-3 d-flex justify-content-center text-center ">
          <label for="">
            <input type="checkbox" name="visita" id="Visita" value="1" (click)="onOffEvents('Visita')" class="inputEvent" checked>
            <p class="filter-event"><i class="fas fa-map-marker-alt"></i></p>
          </label>
        </div>

        <div class="col-3 d-flex justify-content-center text-center">
            <label for="">
              <input type="checkbox" name="llamada" id="Llamada" value="2" (click)="onOffEvents('Llamada')" class="inputEvent" checked>
              <p class="filter-event"><i class="fas fa-phone"></i></p>
            </label>
        </div>

        <div class="col-3 d-flex justify-content-center text-center">
            <label for="">
              <input type="checkbox" name="correo" id="Correo" value="3" (click)="onOffEvents('Correo')" class="inputEvent" checked>
              <p class="filter-event"><i class="fas fa-envelope"></i></p>
            </label>
        </div>

      </div>

    </div>

  </div>
<!-- ----------------------------------------------------------------------- -->



<!-- -------------------------- Contenido -------------------------- -->

  <ion-content>

    <div class="row " style="background-color: #fff;  padding: 0px 20px;" >

      <div class="col-12 ">
        <div class="row cont-card-event tipoTarea-{{event.nombre_evento}}" style="margin-top: 10px; color: {{event.textColor}};"   *ngFor="let event of events">
          <div class="col-3 card-date text-center" style="background-color: {{event.color}} !important;">
            <div class="d-flex align-items-center h-100" style="font-size: 19px;">

            <p class="w-100">{{event.fecha_inicio_format}}</p>
            </div>

          </div>
          <div class="col-8 card-info">
            <div class="">

            <p style="font-size: 18px !important; width: 50%; display: inline; color: {{event.color}} !important; font-weight: 700;">
              <i class="{{event.icon}}"></i>
              <span> {{event.nombre_evento}}</span>

            </p>
            <p style="width: 50%; display: inline; float: right; text-align: right;"><i class="fas fa-alarm-exclamation"></i> {{event.hora}}</p>
            <p><i class="fad fa-user-injured"></i> {{event.titulo}}</p>
            <p><i class="fal fa-alarm-clock"></i> 1 hora antes</p>
            <p><i class="fad fa-map-marker-alt"></i> {{event.ubicacion}}</p>
            </div>
          </div>
          <div class="col-1">

            <i  class="dropdown-toggle far fa-ellipsis-v menu float-right" data-toggle="dropdown" role="button" aria-expanded="false" (click)="saveEventId(event.id_evento)"></i>

            <ul class="dropdown-menu" role="menu">

                <li style="text-align: center;"  id="edit-event-{{event.id_evento}}" expand="block" >Editar</li>

                  <!-- ----------------------- Modal editar ----------------------- -->

                    <div class="row">
                      <ion-modal trigger="edit-event-{{event.id_evento}}" [initialBreakpoint]="0.85" [breakpoints]="[0, 0.25, 0.5, 0.75]">
                        <ng-template>
                          <form class="custom-form h-100" (ngSubmit)="cancelClient(fEditClient)" #fEditClient="ngForm">

                            <ion-content class="ion-padding">

                              <ion-list>

                                <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">
                                  <p class="m-0 font-weight-bold w-100 text-center" style="color: #1e5b5a; margin-bottom: 15px !important; font-size: 18px; font-weight: 700;">Editar Evento</p>

                                  <div class="col-12 text-center mb-2" >
                                    <div class="input-group">
                                      <ion-label class="label_">Nombre del cliente:</ion-label>
                                      <ion-input  class="search_ " type="text" disabled>Tigre toño</ion-input>
                                    </div>
                                  </div>

                                  <div class="col-12 text-center mb-2" >
                                    <div class="input-group">
                                        <ion-label class="label_">Tipo de evento</ion-label>
                                        <ion-select placeholder="Seleccionar Propiedades"  >
                                            <ion-select-option value="0">Cita</ion-select-option>
                                            <ion-select-option value="1">Visita</ion-select-option>
                                            <ion-select-option value="2">Llamada</ion-select-option>
                                            <ion-select-option value="3">Correo</ion-select-option>
                                        </ion-select>
                                    </div>
                                  </div>
                                  <div class="col-12 text-center mb-2" >
                                    <div class="input-group">
                                      <ion-label class="label_">Ubicación:</ion-label>
                                      <ion-input class="search_" type="number" placeholder="0000000"></ion-input>
                                    </div>
                                  </div>

                                  <div class="col-12 text-center mb-2" >
                                    <div class="input-group">
                                      <ion-label class="label_">Hora:</ion-label>
                                      <ion-input  class="search_" type="number" placeholder="0000000"></ion-input>
                                    </div>
                                  </div>

                                  <div class="col-12 text-center mb-2 d-flex justify-content-center" >
                                    <div class="row">
                                      <div class="col-5">
                                        <input type="checkbox" name="" id="">Agregar recordatorio
                                      </div>
                                      <div class="col-7">
                                        <div class="row">
                                          <ion-label>Recordatorio 1</ion-label>
                                        </div>
                                        <div class="row">
                                          <ion-label>Recordatorio 2</ion-label>
                                        </div>
                                      </div>
                                    </div>
                                  </div>

                                  <div class="col-12 btn-add" style="background-color: #fff !important;">
                                    <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                                      <ion-button (click)="confirm()" [strong]="true" class="color-back w-100" style=" font-size: 15px;">Guardar</ion-button>
                                    </ion-buttons>
                                  </div>

                                  <div class="col-12 btn-add" style="margin-top: 20px; background-color: #fff !important;">
                                    <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                                      <ion-button  (click)="cancel()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
                                    </ion-buttons>
                                  </div>
                                </div>

                              </ion-list>

                            </ion-content>

                          </form>
                        </ng-template>
                      </ion-modal>
                    </div>

                  <!-- ----------------------------------------------------------------------- -->

                <li style="text-align: center;" button="true" detail="false" id="open-custom-dialog-event-cancel-{{event.id_evento}}" expand="block">Cancelar</li>

                  <!-- ----------------------- modal cancelar evento ----------------------- -->
                    <ion-modal id="cancel-event"  trigger="open-custom-dialog-event-cancel-{{event.id_evento}}">
                      <ng-template>
                        <form class="custom-form h-100" (ngSubmit)="cancelClient(fCancelClient)" #fCancelClient="ngForm">
                          <div class="wrapper">

                            <ion-list lines="none" style="padding: 30px 15px;">
                              <h1 class="text-center m-0 mb-4">Cancelar evento</h1>
                              <div class="col-12 text-center mb-2" >
                                <div class="input-group">
                                  <ion-label class="label_">Motivo de cancelación</ion-label>
                                  <ion-input [(ngModel)]="eventCancel.motivo" class="search_"  name="first" type="text" placeholder="" style="height: 65px !important;"></ion-input>
                                </div>
                              </div>

                              <div class="col-12 btn-add" style="background-color: #fff !important;">
                                <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                                  <ion-button  type="submit" [strong]="true" class="color-back w-100" style=" font-size: 15px;" >Cancelar evento</ion-button>
                                </ion-buttons>
                              </div>

                              <div class="col-12 btn-add" style="margin-top: 20px; background-color: #fff !important;">
                                <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                                  <ion-button  (click)="modal.dismiss()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
                                </ion-buttons>
                              </div>
                            </ion-list>
                          </div>
                        </form>
                      </ng-template>
                    </ion-modal>

                  <!-- ----------------------------------------------------------------------- -->

            </ul>

        </div>
        </div>
      </div>


    </div>

  </ion-content>

<!-- ----------------------- boton agregar evento ----------------------- -->
  <div class="btn-add-client">
    <p class="find_advance_ "  id="open-modal-add-event" expand="block">
      <i class="fas fa-plus"></i>
    </p>
  </div>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------- Modal agregar evento ----------------------- -->
  <app-add-event></app-add-event>

  <!-- <ion-modal   trigger="open-modal-add-event" [initialBreakpoint]="0.80" [breakpoints]="[0, 0.55, 0.5, 0.95]" style="--background: none;">
    <ng-template>

      <ion-content class="ion-padding">

        <ion-list>

          <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">
            <p class="m-0 font-weight-bold" style="color: black; margin-bottom: 10px !important;">Añadir evento</p>

            <div class="col-12 text-center mb-2 d-flex justify-content-center d-flex justify-content-center" >
              <div class="input-group">
                <ion-label class="label_">Cliente</ion-label>
                <ion-input [(ngModel)]="name" class="search_" type="text" placeholder="Nombre del cliente"></ion-input>
              </div>
            </div>

            <div class="col-12 text-center mb-2 d-flex justify-content-center" >
              <div class="input-group">
                <ion-label class="label_">Fecha</ion-label>
                <ion-input [(ngModel)]="name" class="search_" type="emial" placeholder="ejemplo@example.com"></ion-input>
              </div>
            </div>

            <div class="col-12 text-center mb-2 d-flex justify-content-center" >
              <div class="input-group">
                <ion-label class="label_">Tipo de evento</ion-label>
                <ion-input [(ngModel)]="name" class="search_" type="select" placeholder="0000000"></ion-input>
              </div>
            </div>

            <div class="col-12 text-center mb-2 d-flex justify-content-center" >
              <div class="input-group">
                <ion-label class="label_">Ubicación</ion-label>
                <ion-input [(ngModel)]="name" class="search_" type="text" placeholder="0000000"></ion-input>
              </div>
            </div>

            <div class="col-12 text-center mb-2 d-flex justify-content-center" >
              <div class="input-group">
                <ion-label class="label_">Hora</ion-label>
                <ion-input [(ngModel)]="name" class="search_" type="date" placeholder="0000000"></ion-input>
              </div>
            </div>


            <div class="col-12 text-center mb-2 d-flex justify-content-center" >
              <div class="row">
                <div class="col-5">
                  <input type="checkbox" name="" id="">Agregar recordatorio
                </div>
                <div class="col-7">
                  <div class="row">
                    <ion-label>Recordatorio 1</ion-label>
                  </div>
                  <div class="row">
                    <ion-label>Recordatorio 2</ion-label>
                  </div>
                </div>
              </div>
            </div>

            <div class="col-12 btn-add">
              <ion-buttons >
                <ion-button (click)="confirm()" [strong]="true" class="color-back save-event">Guardar</ion-button>
              </ion-buttons>

            </div>
            <div class="col-12 btn-back text-center" style="margin-top: 20px;">
              <ion-buttons >
                <ion-button  (click)="cancel()" [strong]="true" class="color-back w-100">Regresar</ion-button>
              </ion-buttons>
            </div>
          </div>

        </ion-list>

      </ion-content>

    </ng-template>
  </ion-modal> -->

<!-- ----------------------------------------------------------------------- -->



<!-- ------------------------- Barra de navegacion ------------------------- -->
  <ion-tabs class="navigationBar">

    <ion-tab-bar slot="bottom" class="cont-navigation">

      <ion-tab-button routerLink="/inicio">
        <i class="fas fa-home-lg"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
        <i class="fas fa-user-friends"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
        <i class="fas fa-filter"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
<!-- ----------------------------------------------------------------------- -->
