<app-header titulo="Embudo de Ventas"></app-header>

<!-- -------------------------- Filtro etapa -------------------------- -->

  <div class="col-12 text-center cont_filter">
    <ion-list>
      <ion-item>
        <ion-select aria-label="etapa" interface="action-sheet" placeholder="Selecciona una etapa" class="find_advance" >
          <ion-select-option value="0">1. Primer contacto</ion-select-option>
          <ion-select-option value="1">2. Comunicación Abierta</ion-select-option>
          <ion-select-option value="2">3. Análisis opciones</ion-select-option>
          <ion-select-option value="3">4. Visita / Pase</ion-select-option>
          <ion-select-option value="4">5. Perfilados</ion-select-option>
          <ion-select-option value="5">6. Apartados</ion-select-option>
          <ion-select-option value="6">7. Vendidos</ion-select-option>
        </ion-select>
      </ion-item>
    </ion-list>
  </div>
<!-- ----------------------------------------------------------------------- -->

<!-- --------------------------- filter estatus ---------------------------- -->
  <div id="" class="row  p-0 background_" style="height: 50px;">

    <div class="col-12  h-100" style="padding: 0 50px !important;">
      <div class="row cont-filtro-status h-100">
        <div class="col-3 d-flex justify-content-center text-center aling-items-center" style="height: 100%; align-items: center;">
          <label for="">
            <input type="checkbox" name="" id="">
            <p class="filter-event">OP</p>
          </label>
        </div>
        <div class="col-3 d-flex justify-content-center text-center" style="height: 100%; align-items: center;">
          <label for="">
            <input type="checkbox" name="" id="">
            <p class="filter-event">TA</p>
          </label>
        </div>
        <div class="col-3 d-flex justify-content-center text-center" style="height: 100%; align-items: center;">
            <label for="">
              <input type="checkbox" name="" id="">
              <p class="filter-event">NA</p>
            </label>
        </div>
        <div class="col-3 d-flex justify-content-center text-center" style="height: 100%; align-items: center;">
            <label for="">
              <input type="checkbox" name="" id="">
              <p class="filter-event">PR</p>
            </label>
        </div>
      </div>

    </div>

  </div>
<!-- ----------------------------------------------------------------------- -->


<ion-content>


  <!-- -------------------------- list card client --------------------------- -->

    <div class="row " style="padding: 0px 40px; padding-top: 15px !important;">
      <div class="col-12 cont-card-event d-flex p-0 mb-4">
        <div class="color-status card-date text-center">
        </div>
        <div class="card-info w-100">
          <div class="row w-100" style="margin: auto;">
            <div class="col-6"><p class="card-name-client"> Cliente</p></div>
            <div class="col-6 text-end">
              <div class="row">

              <p class="pr-2 date-card">01/01/2022</p>
              <p class="pr-2 status-p"><span>OP</span></p>
              </div>
            </div>
            <div class="col-12"><p> Desarrollo</p></div>
            <div class="col-12 text-end p-0"><p class="pr-2 card-netx-etap"> Siguiente etapa <i class="fas fa-angle-double-right"></i> </p></div>

          </div>

        </div>
      </div>
    </div>

  <!-- ----------------------------------------------------------------------- -->

</ion-content>

<!-- ------------------------- Barra de navegacion ------------------------- -->
  <ion-tabs class="navigationBar">

    <ion-tab-bar slot="bottom" class="cont-navigation">
      <ion-tab-button routerLink="/inicio">
        <i class="fas fa-home-lg"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
        <i class="fas fa-user-friends"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
        <i class="fas fa-filter"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>


    </ion-tab-bar>

  </ion-tabs>
<!-- ----------------------------------------------------------------------- -->
