/* ---------------------------------- filtro event  --------------------------------- */
.sc-ion-action-sheet-md-h {
    --button-color: #000 !important;
}
.find_advance {
  margin: 0;
  display: flex !important;
  position: relative;
  justify-content: space-between;
  padding: 0 15px !important;
  height: 45px;
  border:solid 1px #1e5b5a;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  width: 100%;
}

.filter-event {
  width: 40px;
  border: solid 1px #1e5b5a;
  border-radius: 25px;
  color: #1e5b5a;
}
.active {
  background-color: #1e5b5a;
  color: #fff;
}
.cont-filtro-status label input[type="checkbox"] {
  width: 10px;
  position: relative;
  height: 10px;
}

.cont-filtro-status label input {
  appearance: none;
}
.cont-filtro-status div:nth-child(4n + 1) label input:checked ~ p {
  background-color: #29c3e3;
  color: #fff;
  border: none;
}
.cont-filtro-status div:nth-child(4n + 2) label input:checked ~ p {
  background-color: #FDB600;
  color: #fff;
  border: none;
}

.cont-filtro-status div:nth-child(4n + 3) label input:checked ~ p {
  background-color: #FF6B17;
  color: #fff;
  border: none;
}

.cont-filtro-status div:nth-child(4n + 4) label input:checked ~ p {
  background-color: #A8A8A8;
  color: #fff;
  border: none;
}




/* -------------------------------------------------------------------------- */

/* ------------------------------- card client ------------------------------ */

.cont-card-event {
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0px rgb(0 0 0 / 25%);
}
.card-date{
  width: 5px;
  background-color: #258F8D;
  border-radius: 8px 0px 0px 8px;
  color: #fff;
}


.card-info p{
  color: #000;
  margin: 0;
}
.status-p span {
  padding: 0;
  font-size: 10px;
    width: 30px;
    float: right;
    background: #29c3e3;
    border-radius: 25px;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}
.date-card {
  font-size: 15px;
  color: rgb(143, 143, 143);
}
.card-name-client {
  font-weight: 700;
}
.card-netx-etap {
  font-size: 8px;
  color: rgb(184, 184, 184);
}
.cont_filter {
  padding: 0 !important;
}

ion-list {
  width: 100%;
}
.sc-ion-action-sheet-md {
    color: #000 !important;
  }
/* -------------------------------------------------------------------------- */
