.md body {
  --ion-item-background: #ffffff;
  --ion-item-background: #000;
  color: #000;
}
.ios body {
  --ion-item-background: #fff;
}
.label-stacked.sc-ion-label-ios-h {
  color: #000;
}
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h  {
  color: #000 !important;
}
ion-input {
  color: gray;
}
.b_c {
  background-color: #d6f5f5;
}
#Principal{
  height: 100vh;
  background-color: #fff;
}
#Principal .cont_user{
  height: 280px;
}
#Principal .cont_user .body{
  padding-left: 10%;
}
#Principal .cont_nav{
  padding-top: 0 !important;
  padding: 0px 30px;
}
#Principal .cont_nav .body{
  height: 100%;
}
#Principal .cont_nav .body i{

  color: #26a093;
  font-size: 22px;
}
#Principal .cont_nav .body i span{
  font-size: 10px;

}
#Principal .cont_nav .body .section_{
  min-height: 96px;
  max-height: 96px;
  padding: 0px 10px 0px 10px;
}

.icon_ {
  height: 40%;
}

.card_b {
  z-index: 99;
  width: 100%;
  height: 40px;
  top: -7px;
  position: relative;
}
.btn-nav {
  text-align: center;
  padding: 25px 16px;
  display: flex;
  justify-content: space-evenly;
  flex-direction: column;
  align-items: center;
  border: rgba(243, 243, 243, 0.6862745098) 1px solid;
  border-radius: 8px;
  box-shadow: 2px 4px 16px 0px rgb(0 0 0 / 25%);
}
.btn-nav i,p{
  height: 35px;
  padding-top: 6px;
  margin: 0;
  color: #3D9B99 !important;
  font-size: calc(0.9rem + 0.1vw);
  align-items: center;
}
.avatar {
  padding-top: 10px;
  padding-left: 0;
}
.p_wel {
  margin-top: 10px !important;
  color: #195f57;
  font-size: 30px;
  font-weight: bold;
}

.p_use {
  color: #27a196;
  font-size: 38px;
  font-weight: bold;
}
.img-user{
  height: 130px;
  width: 200px;
  background-color: #d6f5f5;
  border-radius: 15px;
  padding: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% auto;
}
.icon-edit{
  height: 25px;
  width: 25px;
  background-color: #ffffff;
  border-radius: 100px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}
.welcome {
  height: 25%;
}
.user {
  height: 15%;
}
.carousel-indicators li{
  border-radius: 72%;
  background-color: #195f57;
  height: 10px;
  width: 10px;
}
#carouselExampleIndicators {
  z-index: 99;
  background-color: #d6f5f5;
}
.card-bottom {
  position: absolute;
  height: 80px;
  width: 100%;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  box-shadow: 0px 4px 12px 0px rgb(0 0 0 / 25%);
}
.find_advance {
  width: 80%;
  min-height: 40px;
  min-height: 45px;
  background-color: #1e5b5a;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  margin-bottom: 0;
}
.add-client {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 100px;
  padding: 0 108px;
}
.item-native {
  background: #fff;
  color: gray;
}
ion-buttons {
  background: #1e5b5a;
    border-radius: 8px;
}
.btn-add {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.ios ion-modal ion-toolbar  {
  padding-top: 0px !important;
}
.color-back {
  color: #fff;
}

/* ---------------------------- Proximos-Eventos ---------------------------- */

.next-event {
  margin-top: 15px;
}
.next-event_ {
  margin-top: 10px;
  min-height: 165px;
  padding: 0 60px !important;
}
.next-event i {
  color: #1e5b5a;
  font-size: 36px;
  margin-right: 80px;
}
.p-next {
  color: #195f57;
  font-size: 24px;
  font-weight: bold;
}
.event_ {
  max-height: 50px;
  color: black;
  border-radius: 9px;
}
.cont-event {
  font-size: 13px;
}

.next-event_ .row:nth-child(2n) {
  background-color: rgb(20, 81, 94) !important;
  color: #fff;
  border: none;
}
.next-event_ .row:nth-child(4n) {
  background-color: rgb(20, 81, 94) !important;
  color: #fff;
  border: none;
}
/* -------------------------------------------------------------------------- */




/* ---------------------------- Metas ---------------------------- */
.meta{
  padding: 0 60px;
  margin-top: 15px;
}
.meta i {
  color: #1e5b5a;
  font-size: 36px;
  margin-right: 80px;
}
.p-meta {
  color: #195f57;
  font-size: 24px;
  font-weight: bold;
}


/* -------------------------------------------------------------------------- */


/* ---------------------------------- modal --------------------------------- */

ion-buttons {
  border-radius: 8px;
}

ion-label{
  font-size: 13px;
  margin-top: 10px;
}
ion-select {
  padding: 0!important;
  border: solid 1px #000;
  border-radius: 5px;
  width: 100%;
  height: 32px;
}
.ios ion-modal ion-toolbar  {
  padding-top: 0px !important;
}
.color-back {
  font-size: 25px;
  color: #fff;
}
.cont_input_ {
  padding: 5px;
}
.search_ {
  text-align: left;
  border-radius: 7px !important;
  height: 32px;
  border: solid 1px black;
}
.label_ {
  width: 100%;
  text-align: start;
}
.response {
  position: fixed;
  z-index: 999;
  background-color: rgba($color: #000000, $alpha: 0.5);
  height: 100%;
  width: 107%;
  top: 0;
  display: flex;
}
#response {
  .card{
    border-radius: 15px;
    p{
      height: auto !important;
    }
    #icono {
      font-size: 50px;
    }
  }
}
/* -------------------------------------------------------------------------- */


/* ------------------------------ slider header ----------------------------- */

.slider {
	width: 40rem;
}

.slide {

	img {
		display: block;
		width: 100%;
		height: auto;
	}

}

// Styling the default Slick dots

.slick-dots {
	display: flex;
	justify-content: center;
	margin: 0;
	padding: 1rem 0;

	list-style-type: none;

		li {
			margin: 0 0.25rem;
		}

		button {
			display: block;
			width: 1rem;
			height: 1rem;
			padding: 0;

			border: none;
			border-radius: 100%;
			background-color: orange;

			text-indent: -9999px;
		}

		li.slick-active button {
			background-color: red;
		}

}
/* -------------------------------------------------------------------------- */


@media (orientation: landscape) {
  #Principal{
    height: auto;
  }
 }

 @media (min-width: 700px) {
  #Principal .cont_nav .body i{
    font-size: calc(3rem - 0.8vw);
    color: #26a093;
  }
 }
