h1 {
  color: #000 !important;
}
.profile-container {
  text-align: center;
  margin: 20px 0;
}

ion-avatar {
  width: 80px;
  height: 80px;
}

ion-list {
  margin-top: 20px;
}

ion-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}
