<!-- ----------------------------- Encabezado ------------------------------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button class="back_color" defaultHref="/card-client" text="" ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize title-default"> Eventos </ion-title>
    <ion-buttons slot="end" >
      <ion-button class="back_color"   >
        <i class="fas fa-pen" style="color: #1E5B5A;"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- ----------------------------------------------------------------------- -->


<ion-content>

  <div class="col-12" style="background-color: #fff; color: black; padding: 0px 20px;" >

    <h3 class="m-0"></h3>
    <div class=" " style="margin-top: 10px;" >

      <div class="row cont-card-event">

        <div class="col-3 card-date text-center">
          <div class=" h-100">

          <p>lunes</p>
          <p>1</p>
          <p>Enero</p>
          </div>

        </div>

        <div class="col-8 card-info">
          <div class="row">
            <div class="col-6">
              <p><i class="fas fa-car-building"></i> Visita</p>
            </div>
            <div class="col-6">
              <p><i class="fas fa-alarm-clock"></i> Hora</p>

            </div>
            <div class="col-12">
              <p><i class="fas fa-bell-on"></i> Recordatorios</p>

            </div>
            <div class="col-12">
              <p><i class="fas fa-map-marker-alt"></i> cumbres herradura</p>

            </div>

          </div>
        </div>

        <div class="col-1">

            <i  class="dropdown-toggle far fa-ellipsis-v menu float-right" data-toggle="dropdown" role="button" aria-expanded="false"></i>

            <ul class="dropdown-menu" role="menu">
                <li style="text-align: center;" id="open-modal-recordatorios" expand="block" >Recordatorios</li>

                  <!-- ----------------------- Modal recordatorios ----------------------- -->

                    <div class="row">
                      <ion-modal trigger="open-modal-recordatorios" [initialBreakpoint]="0.50" [breakpoints]="[0, 0.25, 0.5, 0.75]">
                        <ng-template>

                          <ion-content class="ion-padding">

                            <ion-list>

                              <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">
                                <p class="m-0 font-weight-bold" style="color: black; margin-bottom: 10px !important;">Recordatorios</p>


                                <div class="col-12 text-center mb-2 d-flex justify-content-center" >
                                  <div class="row">
                                    <div class="col-12">
                                      <input type="checkbox" name="" id="">Agregar recordatorio
                                    </div>
                                    <div class="col-12 text-center mb-2" >
                                      <div class="input-group">
                                        <ion-label class="label_">Fecha:</ion-label>
                                        <ion-input [(ngModel)]="name" class="search_" type="emial" placeholder="ejemplo@example.com"></ion-input>
                                      </div>
                                    </div>

                                    <div class="col-12 text-center mb-2" >
                                      <div class="input-group">
                                        <ion-label class="label_">Tipo de evento:</ion-label>
                                        <ion-input [(ngModel)]="name" class="search_" type="number" placeholder="0000000"></ion-input>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-12 btn-add" style="background-color: #fff !important;">
                                  <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                                    <ion-button (click)="confirm()" [strong]="true" class="color-back w-100" style=" font-size: 15px;">Guardar</ion-button>
                                  </ion-buttons>
                                </div>

                                <div class="col-12 btn-add" style="margin-top: 20px; background-color: #fff !important;">
                                  <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                                    <ion-button  (click)="cancel()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
                                  </ion-buttons>
                                </div>
                              </div>

                            </ion-list>

                          </ion-content>

                        </ng-template>
                      </ion-modal>
                    </div>

                  <!-- ----------------------------------------------------------------------- -->

                <li style="text-align: center;"  id="open-modal-edit-event" expand="block" >Editar</li>

                  <!-- ----------------------- Modal editar ----------------------- -->

                    <div class="row">
                      <ion-modal trigger="open-modal-edit-event" [initialBreakpoint]="0.85" [breakpoints]="[0, 0.25, 0.5, 0.75]">
                        <ng-template>

                          <ion-content class="ion-padding">

                            <ion-list>

                              <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">
                                <p class="m-0 font-weight-bold" style="color: black; margin-bottom: 10px !important;">Editar evento</p>

                                <div class="col-12 text-center mb-2" >
                                  <div class="input-group">
                                    <ion-label class="label_">Nombre del cliente:</ion-label>
                                    <ion-input [(ngModel)]="name" class="search_ " type="text" placeholder="nombre apellidos" disabled></ion-input>
                                  </div>
                                </div>

                                <div class="col-12 text-center mb-2" >
                                  <div class="input-group">
                                    <ion-label class="label_">Fecha:</ion-label>
                                    <ion-input [(ngModel)]="name" class="search_" type="emial" placeholder="ejemplo@example.com"></ion-input>
                                  </div>
                                </div>

                                <div class="col-12 text-center mb-2" >
                                  <div class="input-group">
                                    <ion-label class="label_">Tipo de evento:</ion-label>
                                    <ion-input [(ngModel)]="name" class="search_" type="number" placeholder="0000000"></ion-input>
                                  </div>
                                </div>

                                <div class="col-12 text-center mb-2" >
                                  <div class="input-group">
                                    <ion-label class="label_">Ubicación:</ion-label>
                                    <ion-input [(ngModel)]="name" class="search_" type="number" placeholder="0000000"></ion-input>
                                  </div>
                                </div>

                                <div class="col-12 text-center mb-2" >
                                  <div class="input-group">
                                    <ion-label class="label_">Hora:</ion-label>
                                    <ion-input [(ngModel)]="name" class="search_" type="number" placeholder="0000000"></ion-input>
                                  </div>
                                </div>

                                <div class="col-12 text-center mb-2 d-flex justify-content-center" >
                                  <div class="row">
                                    <div class="col-5">
                                      <input type="checkbox" name="" id="">Agregar recordatorio
                                    </div>
                                    <div class="col-7">
                                      <div class="row">
                                        <ion-label>Recordatorio 1</ion-label>
                                      </div>
                                      <div class="row">
                                        <ion-label>Recordatorio 2</ion-label>
                                      </div>
                                    </div>
                                  </div>
                                </div>

                                <div class="col-12 btn-add" style="background-color: #fff !important;">
                                  <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                                    <ion-button (click)="confirm()" [strong]="true" class="color-back w-100" style=" font-size: 15px;">Guardar</ion-button>
                                  </ion-buttons>
                                </div>

                                <div class="col-12 btn-add" style="margin-top: 20px; background-color: #fff !important;">
                                  <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                                    <ion-button  (click)="cancel()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
                                  </ion-buttons>
                                </div>
                              </div>

                            </ion-list>

                          </ion-content>

                        </ng-template>
                      </ion-modal>
                    </div>

                  <!-- ----------------------------------------------------------------------- -->

                <li style="text-align: center;" button="true" detail="false" id="open-custom-dialog-event-cancel" expand="block">Cancelar</li>

                  <!-- ----------------------- modal cancelar evento ----------------------- -->
                    <ion-modal id="example-modal"  trigger="open-custom-dialog-event-cancel">
                      <ng-template>
                        <div class="wrapper">

                          <ion-list lines="none" style="padding: 30px 15px;">
                            <h1 class="text-center m-0 mb-4">Cancelar evento</h1>
                            <div class="col-12 text-center mb-2" >
                              <div class="input-group">
                                <ion-label class="label_">Motivo de cancelación</ion-label>
                                <ion-input [(ngModel)]="name" class="search_" type="emial" placeholder="" style="height: 65px !important;"></ion-input>
                              </div>
                            </div>

                          <div class="col-12 btn-add" style="background-color: #fff !important;">
                            <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                              <ion-button (click)="confirm()" [strong]="true" class="color-back w-100" style=" font-size: 15px;">Cancelar evento</ion-button>
                            </ion-buttons>
                          </div>

                          <div class="col-12 btn-add" style="margin-top: 20px; background-color: #fff !important;">
                            <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                              <ion-button  (click)="cancel()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
                            </ion-buttons>
                          </div>
                          </ion-list>
                        </div>
                      </ng-template>
                    </ion-modal>
                  <!-- ----------------------------------------------------------------------- -->

            </ul>

        </div>


      </div>

    </div>

  </div>

</ion-content>


<!-- ----------------------- boton agregar evento ----------------------- -->
<div class="btn-add-client">
  <p class="find_advance_ "  id="open-modal-add-event-client" expand="block">
    <i class="fas fa-plus"></i>
  </p>
</div>
<!-- ----------------------------------------------------------------------- -->

  <!-- ----------------------- Modal agregar evento a cliente ----------------------- -->

  <app-add-event-client></app-add-event-client>

  <!-- ----------------------------------------------------------------------- -->

<!-- ----------------------------------------------------------------------- -->


<!-- ------------------------- Barra de navegacion ------------------------- -->
  <ion-tabs class="navigationBar">

    <ion-tab-bar slot="bottom" class="cont-navigation">

      <ion-tab-button routerLink="/inicio">
        <i class="fas fa-home-lg"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
        <i class="fas fa-user-friends"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
        <i class="fas fa-filter"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
<!-- ----------------------------------------------------------------------- -->
