.color{
  color: #000;
}
body {
  --ion-item-background: #ffffff;
  --ion-item-background: #000;
  color: #000 !important;
  --ion-color-step-50: #1e5b5a;
}
.label-stacked.sc-ion-label-ios-h {
  color: #000;
}
.item.sc-ion-label-md-h, .item .sc-ion-label-md-h  {
  color: #000 !important;
}
ion-input {
  color: gray;
}
.add-client {
  margin-top: 100px;
  padding: 0 108px;
}
.item-native {
  background: #fff;
  color: gray;
}
ion-buttons {
  background: #1e5b5a;
    border-radius: 5px;
}
.btn-add {
  color: #fff;
  display: flex;
  justify-content: center;
  margin-top: 15px;
}
.ios ion-modal ion-toolbar  {
  padding-top: 0px !important;
}
.color-back {
  font-size: 25px;
  color: #fff;
}
.cont_input_ {
  padding: 5px 20px 6px 20px;
}
.cont_input_ .mb-2 {
  border-bottom: solid 1px #000;
}

.cont_input_ .col-12 .input-group{
  margin-bottom: 10px;
}
.search_ {
text-align: left;
height: 25px;
border: solid 1px gray;
border-radius: 7px !important;
}
.label_ {
  font-size: 18px;
  width: 100%;
  text-align: start;
  font-weight: 700;
  color: #000;
}
.form-check {
  text-align: center;
  width: 49px;
  display: block;
  min-height: 1.5rem;
  padding-left: 1.5em;
  margin-bottom: 0.125rem;
  padding: 0;
}
.add-item {
    display: flex;
    justify-content: space-between;
    padding: 0 15px;

}
.add-item i{
 color: #1e5b5a;
}
.submit-btns{
  position: absolute;
  bottom: 5%;
  width: 60%;
}
ion-label {
  color: #000;
  font-size: 17px;
}
label {
  color: #000;
}
div{
  p{
    color: #000;
  }
}
.input-group{
  align-items: center;
  ion-label{
    padding-left: 5px;
  }
}

svg {
  border-color: #1e5b5a !important;
}

:host(.checkbox-checked) .checkbox-icon, :host(.checkbox-indeterminate) .checkbox-icon {
  border-color: #1e5b5a !important;
  background: #1e5b5a !important;
}
