<!-- ----------------------------- Encabezado ------------------------------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button class="back_color"  text="" ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize title-default">Galerìa de propiedad</ion-title>
    <ion-buttons slot="end" >
      <ion-button class="" >
        <i class="fas fa-pensd"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- ----------------------------------------------------------------------- -->


<ion-content>

</ion-content>


<!-- ------------------------- Barra de navegacion ------------------------- -->
<ion-tabs class="navigationBar">

  <ion-tab-bar slot="bottom" class="cont-navigation">

    <ion-tab-button routerLink="/inicio">
      <i class="fas fa-home-lg"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/client-list">
      <i class="fas fa-user-friends"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/sales-funnel">
      <i class="fas fa-filter"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/calendar">
      <i class="fas fa-calendar-alt"></i>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
<!-- ----------------------------------------------------------------------- -->
