<!-- ----------------------------- Encabezado ------------------------------ -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-back-button class="back_color" defaultHref="/properties" text="" ></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-capitalize title-default"> Cumbres Herradura </ion-title>
      <ion-buttons slot="end" >
        <ion-button class="" >
          <i class="fas fa-pensd"></i>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<!-- ----------------------------------------------------------------------- -->

<!-- ------------------------------ contenido ------------------------------ -->

  <ion-content>
    <div class="row p-4 d-flex justify-content-center">
      <div class="img-user" style="background-image: url('https://adryo.com.mx/files/cuentas/179/generales/logoNew.png');" ></div>
      <div class=" card-image" >
        <div class="row gallery-btn w-100">
          <p class="gallery-info text-end" routerLink="/galery-propertie" >Ver galeria <i class="fas fa-arrow-right"></i></p>
        </div>
      </div>
      <div class="col-6 mt-1 pl-4"> <p class="Estado">Preventa</p> </div>
      <div class="col-6 mt-1 pr-4"><i class="fad fa-share-alt share"></i></div>
      <div class="col-12 mt-1 title-propiertie"><h1>Cumbres Herradura</h1></div>
      <div class="col-12 mt-1 price-properti">$1,520,00.00 - $.,7411,000.00</div>
      <div class="col-8 direction-propertie">Camino arenero 150, Valle Escondido, CDMX, CP. 14600</div>
      <div class="col-4 mt-1 map-propertie"></div>
      <div class="col-3 extra-propertie mt-2">  <img  alt="" class="extra-img full"> <p>52.68 m2</p> </div>
      <div class="col-3 extra-propertie mt-2">  <img  alt="" class="extra-img cam"> <p>1 - 2 </p> </div>
      <div class="col-3 extra-propertie mt-2">  <img  alt="" class="extra-img ban"> <p>1 - 2 </p>  </div>
      <div class="col-3 extra-propertie mt-2">  <img  alt="" class="extra-img car"> <p>1 - 2 </p> </div>

      <div class="col-4 mt-3">
        <div class="btn-section-more">
          <p>
            <i class="fas fa-file-contract section-more"></i>
          </p>
          <p class="m-0">
            Brochure
          </p>

        </div>


      </div>

      <div class="col-4 mt-3 ">
        <div class="btn-section-more">

        <p>
          <i class="fas fa-clone section-more"></i>
        </p>
        <p class="m-0">Planos</p>
        </div>
      </div>

      <div class="col-4 mt-3 ">
        <div class="btn-section-more">
          <p>
            <i class="fab fa-youtube section-more"></i>
          </p>
          <p class="m-0">Video</p>
        </div>

      </div>

      <div class="col-12 title-propiertie mt-3">
        <h1>Descripción</h1>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero delectus tempore voluptatem aspernatur cumque dicta voluptates quae deserunt officia amet ducimus ullam possimus commodi enim laboriosam sit, ea est?</p>
        <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quis earum, sint vitae aliquam eius explicabo dolor iste repellendus ducimus repellat quod deleniti placeat ratione error blanditiis exercitationem! Sunt, natus!</p>
        <p class="text-justify">Lorem ipsum dolor sit amet consectetur adipisicing elit. Unde libero delectus tempore voluptatem aspernatur cumque dicta voluptates quae deserunt officia amet ducimus ullam possimus commodi enim laboriosam sit, ea est?</p>
        <p class="text-justify">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Omnis quis earum, sint vitae aliquam eius explicabo dolor iste repellendus ducimus repellat quod deleniti placeat ratione error blanditiis exercitationem! Sunt, natus!</p>

      </div>
      <div class="col-12 title-propiertie">
        <ul >
          <li>Accesos Alberca</li>
          <li>Pet Park</li>
          <li>Zona de Azadores</li>
          <li>Cine al aire libre</li>
          <li>Gimnasio exterior</li>
          <li>12,000 m2 de áreas verdes</li>
          <li>Pista de hielo</li>
          <li>Juegos infantiles</li>
          <li>Cancha multiusos</li>
          <li>Salón de eventos</li>
          <li>Ludoteca</li>
          <li>Gimnasio exterior</li>
        </ul>
      </div>
      <div class="col-12 title-propiertie">

        <ul class="menu-filtros">
          <li class="Drop_submenu"  >

            <p class="Title-amenidad">Lugares de interés
              <i class="icono derecha fas fa-chevron-down"></i>
            </p>

            <ul class="dias-uni" style="max-height: 250px; overflow: auto; display: none;" >

              <div id="dias-uni"  class="row justify-content-center align-items-center Height100"  >
                  <div class="col-8 justify-content-center align-items-center Height100" style="padding:0% ;">
                      <p>
                        Cine
                      </p>
                  </div>
              </div>

            </ul>
          </li>
          <li class="Drop_submenu"  >

            <p class="Title-amenidad">Amenidades
              <i class="icono derecha fas fa-chevron-down"></i>
            </p>

            <ul class="dias-uni" style="max-height: 250px; overflow: auto; display: none;" >

              <div id="dias-uni"  class="row justify-content-center align-items-center Height100"  >
                  <div class="col-8 justify-content-center align-items-center Height100" style="padding:0% ;">
                      <p>
                        Cine
                      </p>
                  </div>
              </div>

            </ul>
          </li>
          <li class="Drop_submenu"  >

            <p class="Title-amenidad">Servicios
              <i class="icono derecha fas fa-chevron-down"></i>
            </p>

            <ul class="dias-uni" style="max-height: 250px; overflow: auto; display: none;" >

              <div id="dias-uni"  class="row justify-content-center align-items-center Height100"  >
                  <div class="col-8 justify-content-center align-items-center Height100" style="padding:0% ;">
                      <p>
                        Cine
                      </p>
                  </div>
              </div>

            </ul>
          </li>
        </ul>

      </div>
    </div>
  </ion-content>

<!-- ----------------------------------------------------------------------- -->


<!-- ------------------------- Barra de navegacion ------------------------- -->
  <ion-tabs class="navigationBar">

    <ion-tab-bar slot="bottom" class="cont-navigation">

      <ion-tab-button routerLink="/inicio">
        <i class="fas fa-home-lg"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
        <i class="fas fa-user-friends"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
        <i class="fas fa-filter"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
<!-- ----------------------------------------------------------------------- -->
