.content__ h2 {
    padding: 0 15px;
}
.content__ .col-12 {
    padding: 0 25px;
}
.col-5, .col-7{
  padding: 0 !important;
}
.p-info-estatus-1 {
    display: flex;
    margin-right: 5px !important;
    background-color: #29c3e3;
    border-radius: 15px;
    padding: 2px;
    color: #fff;
    width: 70px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    height: 15px;
}
.p-info-estatus-2 {
    display: flex;
    margin-right: 5px !important;
    background-color: #bf9000;
    border-radius: 15px;
    padding: 2px;
    color: #fff;
    width: 50px;
    font-size: 10px;
    align-items: center;
    justify-content: center;
    height: 15px;
}
.icon-card-extra {
    margin: 0;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
}
.icon-card-extra i {
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: #1e5b5a;
    color: #fff;
    font-size: 20px;
}

