<!-- ----------------------------- Encabezado ------------------------------ -->
  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start" >
        <ion-back-button class="back_color" defaultHref="/client-list" text="" ></ion-back-button>
      </ion-buttons>
      <ion-title class="ion-text-uppercase title-default"> Informaciòn del cliente </ion-title>
      <ion-buttons slot="end" >
        <ion-button class="back_color"  id="open-modal-client-edit" expand="block" >
          <i class="fas fa-pen"></i>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
<!-- ----------------------------------------------------------------------- -->


<!-- ----------------------- Moldal editar cliente ----------------------- -->

  <ion-modal trigger="open-modal-client-edit" [initialBreakpoint]="0.75" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>

      <ion-content class="ion-padding">

        <ion-list>

          <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">
            <p class="m-0 font-weight-bold" style="margin-bottom: 15px !important; font-size: 18px; color: black; font-weight: 700;">Editar cliente</p>
            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Nombre del cliente:</ion-label>
                <ion-input [(ngModel)]="card.name" class="search_" type="text" placeholder="nombre apellidos"></ion-input>
              </div>
            </div>
            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Correo electrónico:</ion-label>
                <ion-input [(ngModel)]="card.name" class="search_" type="emial" placeholder="ejemplo@example.com"></ion-input>
              </div>
            </div>
            <div class="col-6 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Teléfono 1:</ion-label>
                <ion-input [(ngModel)]="card.name" class="search_" type="number" placeholder="0000000"></ion-input>
              </div>
            </div>
            <div class="col-6 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Teléfono 2:</ion-label>
                <ion-input [(ngModel)]="card.name" class="search_" type="number" placeholder="0000000"></ion-input>
              </div>
            </div>
            <div class="col-6 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Teléfono 3:</ion-label>
                <ion-input [(ngModel)]="card.name" class="search_" type="number" placeholder="0000000"></ion-input>
              </div>
            </div>
            <div class="col-6 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Tipo de cliente:</ion-label>
                <ion-select placeholder="Select fruit"  [(ngModel)]="card.name"  >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>

              </div>
            </div>
            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Forma de contacto:</ion-label>
                <ion-input [(ngModel)]="card.name" class="search_" type="text" placeholder="Mercado libre"></ion-input>
              </div>
            </div>
            <div class="col-12 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Desarrolo</ion-label>
                <ion-select placeholder="Select fruit"  [(ngModel)]="card.name" style="padding: 0;" >
                  <ion-select-option value="apples">Apples</ion-select-option>
                  <ion-select-option value="oranges">Oranges</ion-select-option>
                  <ion-select-option value="bananas">Bananas</ion-select-option>
                </ion-select>

              </div>
            </div>

            <div class="col-12 btn-add d-flex justify-content-center">
              <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                <ion-button (click)="confirm()" [strong]="true" class="color-back w-100" style=" font-size: 15px;">Aceptar</ion-button>
              </ion-buttons>
            </div>

            <div class="col-12 btn-add  d-flex justify-content-center" style="margin-top: 20px; background: #fff !important;">
              <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                <ion-button  (click)="cancel()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
              </ion-buttons>
            </div>
          </div>

        </ion-list>

      </ion-content>

    </ng-template>
  </ion-modal>

<!-- ----------------------------------------------------------------------- -->



<!-- -------------------------- Contenido de card -------------------------- -->
  <ion-content style="color: black;" class="content__">

    <!-- ---------------------------- info general ----------------------------- -->

      <h2 style="color: black;">{{clientInfo.nombre}}</h2>

      <div class="col-12">

        <div class="row" style="border-bottom:solid 1px gray ; color: black;">
          <div class="col-5">Estatus del cliente</div>
          <div class="col-7">Estado del cliente</div>
          <div class="col-5 d-inline-flex">
            <p class="m-0 p-info-estatus-1" style="margin-right: 5px;">{{clientInfo.status1}}</p>
            <p class="m-0 p-info-estatus-2"> {{clientInfo.status2}}</p>
          </div>
          <div class="col-7">{{clientInfo.progreso_cliente}}</div>
        </div>
        <!-- ----------------------------------------------------------------------- -->

        <div class="row" style="border-bottom:solid 1px gray ; color: black;">
          <div class="col-5">Teléfono</div>
          <div class="col-7">Correo electrónico</div>
          <div class="col-5 d-inline-flex">
            {{clientInfo.telefono}}
          </div>
          <div class="col-7">
            {{clientInfo.correo_electronico}}
          </div>
        </div>
        <!-- ----------------------------------------------------------------------- -->

        <div class="row" style="border-bottom:solid 1px gray ; color: black;">
          <div class="col-5">Tipo de cliente</div>
          <div class="col-7">Forma de contacto</div>
          <div class="col-5 d-inline-flex">
            {{clientInfo.tipo_cliente}}
          </div>
          <div class="col-7">{{clientInfo.forma_contacto}}</div>
        </div>

      </div>

    <!-- ----------------------------------------------------------------------- -->

    <!-- ----------------------------- Seguimiento ----------------------------- -->

      <h2 style="color: black;">Seguimiento</h2>

      <div class="col-12">
        <div class="row" style="max-height: 250px; overflow: auto; border-bottom:solid 1px gray ; color: black;">
          <div class="col-12" style="    overflow: auto; max-height: 245px;" *ngFor="let cliente of seguimientos">
            <div class="row"  style="border-bottom:solid 1px gray ; color: black;">
              <h5 style="font-weight: 600;" class="w-100">{{cliente.asesor}}</h5>
              <p class="m-0 w-100 m-0" style="font-size: 15px;">{{cliente.mensaje}}</p>
              <p class="m-0 w-100 m-0" style="font-size: 15px;">{{cliente.fecha}}</p>
            </div>
          </div>
        </div>
      </div>

    <!-- ----------------------------------------------------------------------- -->

    <!-- ----------------------- Desarrollos de interes ------------------------ -->

      <h2 style="color: black;">Desarrollos de interés
        <i class="fas fa-plus-circle float-end" style="margin-right: 15px; color: #1e5b5a;"  routerLink="/add-development"></i>
      </h2>

      <div class="col-12"  *ngFor="let desarrollo of desarrollos">

        <div class="row" style="border-bottom:solid 1px gray ; color: black;">
          <div class="col-12">{{desarrollo.nombre}}</div>
        </div>
      </div>

    <!-- ----------------------------------------------------------------------- -->



    <!-- ------------------------ Inmuebles de interes ------------------------- -->

      <h2 style="color: black;">Inmuebles de interés
        <i class="fas fa-plus-circle float-end" style="margin-right: 15px; color: #1e5b5a;" routerLink="/add-inmueble"  ></i>
      </h2>

      <div class="col-12" *ngFor="let inmueble of inmuebles">

        <div class="row" style="border-bottom:solid 1px gray ; color: black;">
          <div class="col-12">{{inmueble.nombre}}</div>
        </div>

      </div>
    <!-- ----------------------------------------------------------------------- -->


    <!-- ------------------------------- Extras -------------------------------- -->

      <div class="col-12">

        <div class="row" style=" color: black; margin-top: 15px;">
          <div class="col-4 text-center"><p class="icon-card-extra"><i class="fas fa-phone-alt"></i></p> <p>Lamada</p></div>
          <div class="col-4 text-center"  id="open-modal-add-note" expand="block"><p class="icon-card-extra"><i class="fas fa-comment-alt-edit"></i></p> <p>Seguimiento rapido</p></div>
          <div class="col-4 text-center"   routerLink="/eventos"><p class="icon-card-extra"><i class="fas fa-book-open"></i></p> <p>Eventos</p></div>
        </div>

      </div>

    <!-- ----------------------------------------------------------------------- -->

  </ion-content>
<!-- ----------------------------------------------------------------------- -->

<!-- ----------------------- Modal add nota ----------------------- -->

  <ion-modal trigger="open-modal-add-note" [initialBreakpoint]="0.60" [breakpoints]="[0, 0.25, 0.5, 0.75]">
    <ng-template>


      <ion-content class="ion-padding">

        <ion-list>

          <div class="row cont_input_  pt-3" style="background-color: #fff; color: black">
            <p class="m-0 font-weight-bold" style="color: black;">Añadir nueva nota</p>
          <div class="col-12 text-center mb-2" >
              <div class="input-group">
                <ion-label class="label_">Agregar un comentario para continuar*</ion-label>
                <ion-input class="search_" type="text" placeholder="" style="    min-height: 115px;"></ion-input>
              </div>
            </div>

            <div class="col-12 btn-add  d-flex justify-content-center">
              <ion-buttons style="height: 45px; width: 80%; background: #1e5b5a;" >
                <ion-button (click)="confirm()" [strong]="true" class="color-back w-100" style=" font-size: 15px;">Aceptar</ion-button>
              </ion-buttons>
            </div>

            <div class="col-12 btn-add  d-flex justify-content-center" style="margin-top: 20px; background: #fff !important;">
              <ion-buttons style="height: 45px; width: 80%; background: #FFF;" >
                <ion-button  (click)="cancel()" [strong]="true" class=" w-100" style=" font-size: 15px; color:  #1E5B5A;     text-decoration: underline;">Regresar</ion-button>
              </ion-buttons>
            </div>
        </div>
        </ion-list>


      </ion-content>

    </ng-template>
  </ion-modal>

<!-- ----------------------------------------------------------------------- -->


<!-- ------------------------- Barra de navegacion ------------------------- -->
  <ion-tabs class="navigationBar">

    <ion-tab-bar slot="bottom" class="cont-navigation">

      <ion-tab-button routerLink="/inicio">
        <i class="fas fa-home-lg"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/client-list">
        <i class="fas fa-user-friends"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/sales-funnel">
        <i class="fas fa-filter"></i>
      </ion-tab-button>

      <ion-tab-button routerLink="/calendar">
        <i class="fas fa-calendar-alt"></i>
      </ion-tab-button>

    </ion-tab-bar>

  </ion-tabs>
<!-- ----------------------------------------------------------------------- -->
