<!-- ----------------------------- Encabezado ------------------------------ -->
<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" >
      <ion-back-button class="back_color" defaultHref="/developments" text="" ></ion-back-button>
    </ion-buttons>
    <ion-title class="ion-text-capitalize title-default" *ngFor="let event of developments"> {{event.nombre}} </ion-title>
    <ion-buttons slot="end" >
      <ion-button class="" >
        <i class="fas fa-pensd"></i>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<!-- ----------------------------------------------------------------------- -->

<!-- ------------------------------ contenido ------------------------------ -->

<ion-content  *ngFor="let event of developments" >
  <div class="row p-4 d-flex justify-content-center">
    <div class="img-user" style="background-image: url('https://adryo.com.mx/{{avatar}}');" ></div>
    <div class=" card-image" style="background-image: url('{{event.portada}}');">
      <div class="gallery-btn w-100" >
        <p class="gallery-info text-end" routerLink="/gallery-development" >Ver galeria <i class="fas fa-arrow-right"></i></p>
      </div>
    </div>
    <div class="col-6 mt-1 pl-4"> <p class="Estado">{{event.etapa_desarrollo}}</p> </div>
    <div class="col-6 mt-1 pr-4"><i class="fad fa-share-alt share" ></i></div>
    <div class="col-12 mt-1 title-propiertie"><h1>{{event.nombre}}</h1></div>
    <div class="col-12 mt-1 price-properti">{{event.desde}}</div>
    <div class="col-8 direction-propertie"  [innerHtml]="event.direccion"></div>
    <div class="col-4 mt-1 map-propertie"></div>
    <div class="col-3 extra-propertie mt-2">  <img  alt="" class="extra-img full"> <p>{{event.metroscubicos}}</p> </div>
    <div class="col-3 extra-propertie mt-2">  <img  alt="" class="extra-img cam"> <p>{{event.recamaras}} </p> </div>
    <div class="col-3 extra-propertie mt-2">  <img  alt="" class="extra-img ban"> <p>{{event.banios}} </p>  </div>
    <div class="col-3 extra-propertie mt-2 mb- 3">  <img  alt="" class="extra-img car"> <p>{{event.estacionamiento}}</p> </div>
    <hr>
    <div class="col-6">
      <p class="descripcion-dev-title">Tipo de desarrollo</p>
      <p class="descripcion-dev-cont">{{event.tipo_desarrollo}}</p>
    </div>
    <div class="col-6">
      <p class="descripcion-dev-title">Etapa</p>
      <p class="descripcion-dev-cont">{{event.etapa_desarrollo}}</p>
    </div>
    <div class="col-6">
      <p class="descripcion-dev-title">Torres</p>
      <p class="descripcion-dev-cont">{{event.torres}}</p>
    </div>
    <div class="col-6">
      <p class="descripcion-dev-title">Unidades totales</p>
      <p class="descripcion-dev-cont">{{event.unidades_totales}}</p>
    </div>
    <div class="col-6">
      <p class="descripcion-dev-title">Depto muestra</p>
      <p class="descripcion-dev-cont">{{event.departamento_muestra}}</p>
    </div>
    <div class="col-6">
      <p class="descripcion-dev-title">Horario</p>
      <p class="descripcion-dev-cont">{{event.horario_contacto}}</p>
    </div>
    <div class="col-6">
      <p class="descripcion-dev-title">Fecha de entrega</p>
      <p class="descripcion-dev-cont">{{event.fecha_entrega}}</p>
    </div>
    <div class="col-6">

    </div>

    <div class="col-4 mt-3 ">
      <div class="btn-section-more">
        <p>
          <i class="fas fa-file-contract section-more"></i>
        </p>
        <p class="m-0">
          Brochure
        </p>

      </div>


    </div>
    <div class="col-4 mt-3 ">
      <div class="btn-section-more">

      <p>
        <i class="fas fa-clone section-more"></i>
      </p>
      <p class="m-0">Planos</p>
      </div>
    </div>

    <div class="col-4 mt-3 ">
      <div class="btn-section-more">
        <p>
          <i class="fab fa-youtube section-more"></i>
        </p>
        <p class="m-0">Video</p>
      </div>

    </div>

    <div class="col-12 title-propiertie mt-3">
      <h1>Descripción</h1>
      <div  [innerHtml]="event.descripcion"></div>
    </div>

    <div class="col-12 title-propiertie">

       <ul class="menu-filtros">
          <li class="Drop_submenu"  >

            <p class="Title-amenidad">Lugares de interés
              <i class="icono derecha fas fa-chevron-down"></i>
            </p>

            <ul class="dias-uni" style="max-height: 250px; overflow: auto; display: none;" >

              <div id="dias-uni"  class="row justify-content-center align-items-center Height100"  >
                  <div class="col-8 justify-content-center align-items-center Height100" style="padding:0% ;">
                      <p>
                        Cine
                      </p>
                  </div>
              </div>

            </ul>
          </li>
          <li class="Drop_submenu"  >

            <p class="Title-amenidad">Amenidades
              <i class="icono derecha fas fa-chevron-down"></i>
            </p>

            <ul class="dias-uni" style="max-height: 250px; overflow: auto; display: none;" >

              <div id="dias-uni"  class="row justify-content-center align-items-center Height100"  >
                  <div class="col-8 justify-content-center align-items-center Height100" style="padding:0% ;">
                      <p>
                        Cine
                      </p>
                  </div>
              </div>

            </ul>
          </li>
          <li class="Drop_submenu"  >

            <p class="Title-amenidad">Servicios
              <i class="icono derecha fas fa-chevron-down"></i>
            </p>

            <ul class="dias-uni" style="max-height: 250px; overflow: auto; display: none;" >

              <div id="dias-uni"  class="row justify-content-center align-items-center Height100"  >
                  <div class="col-8 justify-content-center align-items-center Height100" style="padding:0% ;">
                      <p>
                        Cine
                      </p>
                  </div>
              </div>

            </ul>
          </li>
        </ul>

    </div>
  </div>
</ion-content>

<!-- ----------------------------------------------------------------------- -->


<!-- ------------------------- Barra de navegacion ------------------------- -->
<ion-tabs class="navigationBar">

  <ion-tab-bar slot="bottom" class="cont-navigation">

    <ion-tab-button routerLink="/inicio">
      <i class="fas fa-home-lg"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/client-list">
      <i class="fas fa-user-friends"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/sales-funnel">
      <i class="fas fa-filter"></i>
    </ion-tab-button>

    <ion-tab-button routerLink="/calendar">
      <i class="fas fa-calendar-alt"></i>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
<!-- ----------------------------------------------------------------------- -->
